/* General */

body {
  background-color: hsl(41, 100%, 94%);
  font-family: "Inter", sans-serif;
}

.headings {
  color: hsl(28, 100%, 8%);
  font-weight: 800;
}

.weather-box {
  background: white;
  border-radius: 24px;
  box-shadow: 0 30px 50px hsla(28, 32%, 29%, 0.08);
  margin: 48px auto;
  max-width: 600px;
  padding: 40px;
}

/* Header */

.search-form {
  border-bottom: 1px solid hsl(28, 4%, 96%);
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 4fr 1fr;
  padding-bottom: 24px;
}

.search-input {
  background: hsl(28, 4%, 99%);
  border-radius: 24px;
  border: 1px solid hsl(28, 4%, 94%);
  font-size: 16px;
  padding: 16px;
  transition: background 200ms;
}

.search-input:focus {
  color: hsl(28, 100%, 8%);
}

.search-input:hover {
  background: hsl(28, 4%, 98%);
}

.search-submit {
  background: hsl(28, 99%, 72%);
  border: none;
  border-radius: 24px;
  color: hsl(28, 100%, 8%);
  font-size: 16px;
  transition: background 400ms;
}

.search-submit:focus {
  background: hsl(28, 99%, 56%);
}

.search-submit:hover {
  background: hsl(28, 99%, 80%);
}

/* Weather info */

.conditions-lines {
  color: hsla(28, 100%, 8%, 0.8);
  margin-bottom: 4px;
}

.city-main-info {
  align-items: center;
  border-bottom: 1px solid hsl(28, 4%, 96%);
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.current-weather-container {
  display: flex;
}

.degrees {
  color: hsl(28, 100%, 8%);
  font-size: 32px;
  font-weight: bold;
  margin-top: 4px;
}

.highlights {
  color: hsl(28, 99%, 32%);
  font-weight: bold;
}

.temp-icon {
  height: 80px;
  margin-top: 0%;
}

.temp-number {
  color: hsl(28, 100%, 8%);
  font-size: 64px;
  font-weight: bold;
}

.temp-unit {
  color: hsl(28, 100%, 8%);
  font-size: 28px;
  font-weight: bold;
  margin-top: 4px;
}

/* Forecast */

.weather-forecast {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.forecast-day {
  text-align: center;
}

.forecast-day-name {
  color: hsl(28, 100%, 8%);
  font-weight: bold;
}

.forecast-icon {
  height: 68px;
  margin: 2px 0;
}

.forecast-temperatures {
  display: flex;
  gap: 6px;
  justify-content: center;
  font-size: 14px;
}

.forecast-temperature-max {
  font-weight: bold;
}

.forecast-temperature-min {
  color: hsla(28, 100%, 8%, 0.6);
}

/* Footer */

footer {
  color: hsla(28, 100%, 8%, 0.7);
  display: block;
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
}

a {
  color: hsl(28, 100%, 8%);
  transition: color 200ms;
}

a:hover {
  color: hsl(28, 100%, 24%);
}
